<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recipes with Angular.js - Paginating Through Client-Side Data</title>
    <meta keywords="javascript, js, angular.js, angularjs, recipes with angular.js, recipes with angularjs, best practices, cookbook, tutorial, book">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/recipes-with-angular-js/css/application.css" type="text/css" media="all" />
  </head>
    <body ng-app="RecipesApp">

      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="/recipes-with-angular-js/">
                  <img class="logo-image" src="/recipes-with-angular-js/images/AngularJS-Shield-small.png" alt="" width="36" height="36">
                  <span>Recipes with Angular.js</span>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#"><span>Menu</span></a>
            </li>
          </ul>

          <section class="top-bar-section2">
            <ul class="right" style="position: relative">
              <li class="has-form">
                <div class="row collapse">
                  <div class="large-8 small-9 columns">
                    <input type="text" id="search-query" name="q" autocomplete="off" placeholder="Search recipes">
                  </div>
                  <div class="large-4 small-3 columns">
                    <a href="#" class="alert button expand top-bar-button">Search</a>
                  </div>
                </div>
              </li>

              <div id="search-results" style="display: none;">
                <ul class="entries">
                </ul>
              </div>
            </ul>
          </section>
        </nav>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
  <div class="large-3 medium-6 columns">
    <ul class="side-nav">
  <li> <a href="/recipes-with-angular-js/index.html">Home</a> </li>
  
    <li >
      <a href="/recipes-with-angular-js/introduction/index.html">Introduction</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/controllers/index.html">Controllers</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/directives/index.html">Directives</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/filters/index.html">Filters</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/using-forms/index.html">Using Forms</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/consuming-external-services/index.html">Consuming External Services</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/urls-routing-and-partials/index.html">Urls Routing and Partials</a>

      

    </li>
  
    <li  class="active" >
      <a href="/recipes-with-angular-js/common-user-interface-patterns/index.html">Common User Interface Patterns</a>

      
        <ul>
          
            
          
            
          
            
          
            
          
            
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/filtering-and-sorting-a-list.html">Filtering and Sorting a List</a>
                </li>
              
            
          
            
          
            
          
            
              
                <li  class="active" >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/paginating-through-client-side-data.html">Paginating Through Client-Side Data</a>
                </li>
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/paginating-through-server-side-data.html">Paginating Through Server-Side Data</a>
                </li>
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/paginating-using-infinite-results.html">Paginating Using Infinite Results</a>
                </li>
              
            
          
            
          
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/displaying-a-flash-notice-failure-message.html">Displaying a Flash Notice/Failure Message</a>
                </li>
              
            
          
            
          
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/editing-text-in-place-using-html5-content-editable.html">Editing Text In-Place using HTML5 ContentEditable</a>
                </li>
              
            
          
            
          
            
          
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/displaying-a-modal-dialog.html">Displaying a Modal Dialog</a>
                </li>
              
            
          
            
              
                <li >
                  <a href="/recipes-with-angular-js//common-user-interface-patterns/displaying-a-loading-spinner.html">Displaying a Loading Spinner</a>
                </li>
              
            
          
            
          
        </ul>
      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/backend-integration-with-ruby-on-rails/index.html">Backend Integration with Ruby on Rails</a>

      

    </li>
  
    <li >
      <a href="/recipes-with-angular-js/backend-integration-with-node-express/index.html">Backend Integration with Node Express</a>

      

    </li>
  

  <!-- <li >
    <a href="/recipes-with-angular-js/introduction/index.html">Introduction</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/controllers/index.html">Controllers</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/directives/index.html">Directives</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/filters/index.html">Filters</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/consuming-external-services/index.html">Consuming External Services</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/urls-routing-and-partials/index.html">URLs, Routing and Partials</a>
    
  </li>

  <li  class="active" >
    <a href="/recipes-with-angular-js/common-user-interface-patterns/index.html">Common User Interface Patterns</a>
    
      <ul>
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/index.html">Common User Interface Patterns</a>
            </li>
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/filtering-and-sorting-a-list.html">Filtering and Sorting a List</a>
            </li>
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/paginating-through-client-side-data.html">Paginating Through Client-Side Data</a>
            </li>
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/paginating-through-server-side-data.html">Paginating Through Server-Side Data</a>
            </li>
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/paginating-using-infinite-results.html">Paginating Using Infinite Results</a>
            </li>
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/displaying-a-flash-notice-failure-message.html">Displaying a Flash Notice/Failure Message</a>
            </li>
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/editing-text-in-place-using-html5-content-editable.html">Editing Text In-Place using HTML5 ContentEditable</a>
            </li>
          
        
          
        
          
        
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/displaying-a-modal-dialog.html">Displaying a Modal Dialog</a>
            </li>
          
        
          
            <li>
              <a href="/recipes-with-angular-js/common-user-interface-patterns/displaying-a-loading-spinner.html">Displaying a Loading Spinner</a>
            </li>
          
        
          
        
      </ul>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/backend-integration-with-ruby-on-rails/index.html">Backend Integration with Ruby on Rails</a>
    
  </li>

  <li >
    <a href="/recipes-with-angular-js/backend-integration-with-node-express/index.html">Backend Integration with Node Express</a>
    
  </li> -->
</ul>
  </div>
  <div class="large-9 medium-6 columns content">
    <h2>Paginating Through Client-Side Data</h2>
    <h3 id="problem">Problem</h3>
<p>You have a table of data completely client-side and want to paginate through the data.</p>

<h3 id="solution">Solution</h3>
<p>Use an HTML table element with the <code>ng-repeat</code> directive to render only the items for the current page. All the pagination logic should be handled in a custom filter and controller implementation.</p>

<p>Let us start with the template using Twitter Bootstrap for the table and pagination elements:</p>

<div>
  <pre data-line=""><code class="language-markup">&lt;div ng-controller=&quot;PaginationCtrl&quot;&gt;
  &lt;table class=&quot;table table-striped&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Id&lt;/th&gt;
        &lt;th&gt;Name&lt;/th&gt;
        &lt;th&gt;Description&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr ng-repeat=&quot;item in items |
        offset: currentPage*itemsPerPage |
        limitTo: itemsPerPage&quot;&gt;
        &lt;td&gt;{{item.id}}&lt;/td&gt;
        &lt;td&gt;{{item.name}}&lt;/td&gt;
        &lt;td&gt;{{item.description}}&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;tfoot&gt;
      &lt;td colspan=&quot;3&quot;&gt;
        &lt;div class=&quot;pagination&quot;&gt;
          &lt;ul&gt;
            &lt;li ng-class=&quot;prevPageDisabled()&quot;&gt;
              &lt;a href ng-click=&quot;prevPage()&quot;&gt;« Prev&lt;/a&gt;
            &lt;/li&gt;
            &lt;li ng-repeat=&quot;n in range()&quot;
              ng-class=&quot;{active: n == currentPage}&quot; ng-click=&quot;setPage(n)&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;{{n+1}}&lt;/a&gt;
            &lt;/li&gt;
            &lt;li ng-class=&quot;nextPageDisabled()&quot;&gt;
              &lt;a href ng-click=&quot;nextPage()&quot;&gt;Next »&lt;/a&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/td&gt;
    &lt;/tfoot&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
</div>

<p>The <code>offset</code> Filter is responsible for selecting the subset of items for the current page. It uses the <code>slice</code> function on the Array given the start param as the index.</p>

<div>
  <pre data-line=""><code class="language-javascript">app.filter(&#39;offset&#39;, function() {
  return function(input, start) {
    start = parseInt(start, 10);
    return input.slice(start);
  };
});</code></pre>
</div>

<p>The controller manages the actual <code>$scope.items</code> array and handles the logic for enabling/disabling the pagination buttons.</p>

<div>
  <pre data-line=""><code class="language-javascript">app.controller(&quot;PaginationCtrl&quot;, function($scope) {

  $scope.itemsPerPage = 5;
  $scope.currentPage = 0;
  $scope.items = [];

  for (var i=0; i&lt;50; i++) {
    $scope.items.push({
      id: i, name: &quot;name &quot;+ i, description: &quot;description &quot; + i
    });
  }

  $scope.prevPage = function() {
    if ($scope.currentPage &gt; 0) {
      $scope.currentPage--;
    }
  };

  $scope.prevPageDisabled = function() {
    return $scope.currentPage === 0 ? &quot;disabled&quot; : &quot;&quot;;
  };

  $scope.pageCount = function() {
    return Math.ceil($scope.items.length/$scope.itemsPerPage)-1;
  };

  $scope.nextPage = function() {
    if ($scope.currentPage &lt; $scope.pageCount()) {
      $scope.currentPage++;
    }
  };

  $scope.nextPageDisabled = function() {
    return $scope.currentPage === $scope.pageCount() ? &quot;disabled&quot; : &quot;&quot;;
  };

});</code></pre>
</div>

<p>You can find the complete example on <a href="https://github.com/fdietz/recipes-with-angular-js-examples/tree/master/chapter8/recipe2">github</a>.</p>

<h3 id="discussion">Discussion</h3>
<p>The initial idea of this pagination solution can be best explained by looking into the usage of <code>ng-repeat</code> to render the table rows for each item:</p>

<div>
  <pre data-line=""><code class="language-markup">&lt;tr ng-repeat=&quot;item in items |
  offset: currentPage*itemsPerPage |
  limitTo: itemsPerPage&quot;&gt;
  &lt;td&gt;{{item.id}}&lt;/td&gt;
  &lt;td&gt;{{item.name}}&lt;/td&gt;
  &lt;td&gt;{{item.description}}&lt;/td&gt;
&lt;/tr&gt;</code></pre>
</div>

<p>The <code>offset</code> filter uses the <code>currentPage*itemsPerPage</code> to calculate the offset for the array slice operation. This will generate an array from the offset to the end of the array. Then we use the built-in <code>limitTo</code> filter to subset the array to the number of <code>itemsPerPage</code>. All this is done on the client side with filters only.</p>

<p>The controller is responsible for supporting a <code>nextPage</code> and <code>prevPage</code> action and the accompanying functions to check the disabled state of these actions via <code>ng-class</code> directive: <code>nextPageDisabled</code> and <code>prevPageDisabled</code>. The <code>prevPage</code> function first checks if it has not reached the first page yet before decrementing the <code>currentPage</code> and the <code>nextPage</code> does the same for the last page and the same logic is applied for the disabled checks.</p>

<p>This example is already quite involved and I intentionally omitted an explanation of the rendering of links between the previous and next buttons. The <a href="https://github.com/fdietz/recipes-with-angular-js-examples/tree/master/chapter8/recipe2">full implementation</a> is online though for you to investigate.</p>


    <!-- <div class="recipe-actions">
      
        <form class="jsfiddle" method="post" action="http://jsfiddle.net/api/post/library/pure/" target="_blank">
              <input type="hidden" name="html" value="&lt;body ng-app=&quot;MyApp&quot;&gt;
  &lt;div ng-controller=&quot;PaginationCtrl&quot;&gt;
    &lt;table class=&quot;table table-striped&quot;&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th&gt;Id&lt;/th&gt;
          &lt;th&gt;Name&lt;/th&gt;
          &lt;th&gt;Description&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr ng-repeat=&quot;item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage&quot;&gt;
          &lt;td&gt;&#123;&#123;item.id&#125;&#125;&lt;/td&gt;
          &lt;td&gt;&#123;&#123;item.name&#125;&#125;&lt;/td&gt;
          &lt;td&gt;&#123;&#123;item.description&#125;&#125;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
      &lt;tfoot&gt;
        &lt;td colspan=&quot;3&quot;&gt;
          &lt;div class=&quot;pagination&quot;&gt;
            &lt;ul&gt;
              &lt;li ng-class=&quot;prevPageDisabled()&quot;&gt;
                &lt;a href ng-click=&quot;prevPage()&quot;&gt;« Prev&lt;/a&gt;
              &lt;/li&gt;
              &lt;li ng-repeat=&quot;n in range()&quot; ng-class=&quot;{active: n == currentPage}&quot; ng-click=&quot;setPage(n)&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&#123;&#123;n+1&#125;&#125;&lt;/a&gt;
              &lt;/li&gt;
              &lt;li ng-class=&quot;nextPageDisabled()&quot;&gt;
                &lt;a href ng-click=&quot;nextPage()&quot;&gt;Next »&lt;/a&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/td&gt;
      &lt;/tfoot&gt;
    &lt;/table&gt;
  &lt;/div&gt;
&lt;/body&gt;"></input>

              <input type="hidden" name="js" value="var app = angular.module(&quot;MyApp&quot;, []);

app.filter(&#39;offset&#39;, function() {
  return function(input, start) {
    start = parseInt(start, 10);
    return input.slice(start);
  };
});

app.controller(&quot;PaginationCtrl&quot;, function($scope) {

  $scope.itemsPerPage = 5;
  $scope.currentPage = 0;
  $scope.items = [];

  for (var i=0; i&lt;50; i++) {
    $scope.items.push({ id: i, name: &quot;name &quot;+ i, description: &quot;description &quot; + i });
  }

  $scope.range = function() {
    var rangeSize = 5;
    var ret = [];
    var start;

    start = $scope.currentPage;
    if ( start &gt; $scope.pageCount()-rangeSize ) {
      start = $scope.pageCount()-rangeSize+1;
    }

    for (var i=start; i&lt;start+rangeSize; i++) {
      ret.push(i);
    }
    return ret;
  };

  $scope.prevPage = function() {
    if ($scope.currentPage &gt; 0) {
      $scope.currentPage--;
    }
  };

  $scope.prevPageDisabled = function() {
    return $scope.currentPage === 0 ? &quot;disabled&quot; : &quot;&quot;;
  };

  $scope.pageCount = function() {
    return Math.ceil($scope.items.length/$scope.itemsPerPage)-1;
  };

  $scope.nextPage = function() {
    if ($scope.currentPage &lt; $scope.pageCount()) {
      $scope.currentPage++;
    }
  };

  $scope.nextPageDisabled = function() {
    return $scope.currentPage === $scope.pageCount() ? &quot;disabled&quot; : &quot;&quot;;
  };

  $scope.setPage = function(n) {
    $scope.currentPage = n;
  };

});"></input>

        
              <input type="hidden" name="resources" value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js,http://code.jquery.com/jquery-1.10.1.min.js,http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"></input>

        <button class="btn small btn-primary">Edit in jsfiddle</button>
      </form>
      
    </div> -->

    <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'recipes-with-angularjs-site'; // required: replace example  with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
 </div>
</div>

        </div>
      </div>

      <footer>
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-6 columns">
                <p>
                  Maintained by <a href="http://fdietz.de">Frederik Dietz</a>
                </p>
              </div>

              <div class="large-6 columns text-right">
                <p>All content licensed with <a href="http://creativecommons.org/">Creative Commons</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>

      
        <script id="search-results-template" type="text/mustache">
          {{#entries}}
            <li>
              <a href="/recipes-with-angular-js{{url}}">{{title}}</a>
            </li>
          {{/entries}}
        </script>
      

      <script src="/recipes-with-angular-js/js/application.js" type="text/javascript" charset="utf-8"></script>
      <script src="/recipes-with-angular-js/js/jquery.js"></script>
      <script src="/recipes-with-angular-js/js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/recipes-with-angular-js/js/prism.js" type="text/javascript" charset="utf-8"></script>

      <script src="/recipes-with-angular-js/js/date.format.js"></script>
      <script src="/recipes-with-angular-js/js/mustache.js"></script>
      <script src="/recipes-with-angular-js/js/URI.min.js"></script>
      <script src="/recipes-with-angular-js/js/lunr.js"></script>
      <script src="/recipes-with-angular-js/js/jquery.lunr.search.js"></script>

      <script>
        $(document).foundation();
      </script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42557266-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

      <script type="text/javascript">
        $(function() {
          $('#search-query').lunrSearch({
            indexUrl: '/recipes-with-angular-js/search.json',
            results:  '#search-results',
            entries:  '.entries',
            template: '#search-results-template'
          });

        });
      </script>
    </body>
</html>
